<h1 i18n>Becoming a Volunteer</h1>

<h3 i18n>Volunteering with CSC</h3>

<p i18n>Thousands of volunteers from all walks of life work with offenders and ex-offenders in federal correctional
  institutions and communities across the country. Volunteers are an integral part of many offenders' lives, whether the
  offender is in prison or on parole. By bringing the community into the correctional environment, volunteers help
  offenders function more effectively upon release into the community.</p>

<p>
  <a i18n-href href="http://www.csc-scc.gc.ca/volunteers/index-eng.shtml"
     i18n>Learn more about volunteering with CSC</a>
</p>

<h3 i18n>General Volunteering</h3>

<p i18n>
  Programs and services provided by citizens and volunteer organizations are many and varied. Some of these programs
  and services include, but are not limited to:
</p>

<ul>
  <li i18n>Chaplaincy, religious services, spiritual support</li>
  <li i18n>Recreation activities</li>
  <li i18n>Classroom and workshop instruction</li>
  <li i18n>Cultural activities</li>
</ul>

<p i18n>
  Are you interested in helping offenders become law-abiding citizens? Would you like to make a difference and
  support families of incarcerated offenders?
</p>

<p i18n>
  If you have answered yes and have the time, energy and passion to volunteer, there are many opportunities and
  programs where you can make a difference in the lives of offenders. You may also join your local advisory
  committees where you have an active voice in the correctional process.
</p>


<h3 i18n>Advisory Committees</h3>

<p i18n>
  Advisory committees are a collection of individuals who bring unique knowledge and skills in order to advise,
  and guide the organization. CSC works with many advisory committees, two of them are:
</p>

<h4 i18n>Citizen Advisory Committees</h4>

<p i18n>
  Citizen Advisory Committees (CACs) were set up by law to be a “public presence” in federal corrections. They
  help CSC build stronger links between offenders and communities.
</p>

<p i18n>Here are some other examples of CAC activities:</p>

<ul>
  <li i18n>Joining the warden in an inspection of an institution.</li>
  <li i18n>Observing an internal disciplinary hearing.</li>
  <li i18n>Meeting with other community groups interested in the correctional process.</li>
  <li i18n>Observe crises in a facility.</li>
  <li i18n>Connecting employers with offenders looking for work.</li>
  <li i18n>Speaking at universities, service clubs, and other public events.</li>
</ul>

<p>
  <a i18n-href href="http://www.csc-scc.gc.ca/cac/index-eng.shtml"
     i18n>Learn more about volunteering with a CAC</a>
</p>

<h4 i18n>Regional Ethnocultural Advisory Committee</h4>

<p i18n>
  Regional Ethnocultural Advisory Committees (REAC) are made up of influential members of the community who
  come from ethnocultural backgrounds or have experience working in the area of ethnoculturalism.
</p>

<p i18n>Here are some other examples of REAC activities:</p>

<ul>
  <li i18n>Assisting institutions in providing specialized cultural activities to staff and offenders.</li>
  <li i18n>Addressing offender spiritual needs and advising them on how to make community contacts.</li>
  <li i18n>Assisting offenders in preparing for their parole.</li>
  <li i18n>Mentoring offenders upon their return to the community.</li>
  <li i18n>Helping offenders find jobs or a place to stay.</li>
</ul>

<p><a i18n-href href="http://www.csc-scc.gc.ca/ethnocultural/002004-0002-eng.shtml"
      i18n>Learn more about volunteering with a REAC</a></p>

<br>

<p>
  <button mat-raised-button color="primary" routerLink="/volunteer-registration/form"
          i18n>Register as a Volunteer
  </button>
</p>

<br>

<p i18n>
  We highly encourage applications through the portal. Alternatively, you can apply paper based by downloading the
  following forms:
</p>

<ul>
  <li>
    <a href="http://www.csc-scc.gc.ca/forms/092/0740E.pdf" i18n>English</a></li>
  <li>
    <a href="http://www.csc-scc.gc.ca/formulaires/092/0740F.pdf" i18n>French</a>
  </li>
</ul>

<app-features></app-features>
