<h1 i18n>Becoming a Stakeholder</h1>

<h3 i18n>Welcome to Correctional Service of Canada's Engagement Portal</h3>

<p i18n>
  The engagement portal is a new tool which aims to maintain effective teamwork with CSC partners and
  stakeholders. This system will assist in the work of advisory groups, faith community organizations, volunteers,
  victims, public servants, as well as all Canadians. The engagement portal will serve as an archive of useful
  materials (latest news, training guides, etc.) and a collaboration space to manage ongoing community engagement
  events. It is also a place to apply for various volunteer and partnership roles.
</p>

<p i18n>The engagement portal aims to support CSC's strategic priorities:</p>

<ul>
  <li i18n>
    Engagement refers to approaches that enable community members to meaningfully participate in the decisions,
    actions and processes that shape their community. Engagement can take place at the research, planning or
    carrying out stages of a project or program or as part of any process that is aimed at solving community
    issues or developing an approach to address community problems.
  </li>
  <li i18n>
    Engagement is being responsive to create opportunities for Canadians to share in the shaping of government
    priorities, delivery of programs and services and ensuring that policy plans are generated in a consultative
    manner.
  </li>
  <li i18n>
    Engagement involves proactive and ongoing communication over extended periods of time. It promotes
    partnership, collaboration and inclusive decision-making in how the department is run.
  </li>
</ul>

<h3 i18n>Partners</h3>

<p i18n>
  CSC’s relationships with Canadian communities are essential to supporting public safety, as most offenders will
  eventually return to the community. The success of their reintegration after release depends on the support of
  citizens and communities.
</p>

<p i18n>
  CSC’s community partners contribute to the safe reintegration of offenders by providing community programs,
  employment opportunities, services and housing. They also play an important role by connecting offenders with
  appropriate community resources as they prepare for the end of their sentence.
</p>

<p i18n>
  It is important for CSC to maintain strong relationships with our current partners and to engage new community
  partners in order to meet the increasingly diverse needs of the offender population. CSC is committed to
  collaborating with community partners to support safe and vibrant communities.
</p>

<br>

<p>
  <button mat-raised-button color="primary" routerLink="/stakeholder-registration/form"
          i18n>Register as a Stakeholder
  </button>
</p>

<app-features></app-features>
