/*
 * rsForm element styles
 */

.rs-radio-field {
  border-top: 0.7em solid transparent; /* mat-form-field-infix */
  padding-bottom: 1em; /* mat-form-field-wrapper */
}

.rs-radio-field > h5 {
  display: block;
  font-weight: 500;
  /*margin: 0.5em 0;*/
  margin: 0 0 .25em 0; /* override h5 */
}

.rs-checkbox-field .mat-checkbox-inner-container {
  margin-top: 3px !important;
}

.rs-required:after {
  content: " *";
}

mat-checkbox.rs-required:after {
  content: "";
}

mat-checkbox.rs-required .mat-checkbox-label:after {
  content: " *";
}

.rs-error {
  color: #f44336;
}

.rs-error .mat-radio-outer-circle {
  border-color: #f44336 !important;
}

.rs-error .mat-checkbox-background {
  border-color: #f44336 !important;
}

mat-form-field.rs-full-width {
  display: block;
  max-width: 100% !important;
}

mat-radio-group.rs-radio-group {
  margin: 0.67em 0;
}

textarea.rs-textarea {
  line-height: 1.25em !important;
  overflow-y: hidden !important;
}
