<H2>RECORD SUSPENSION APPLICATION FORM</H2>
<br>  

    
         
      <form class="form-horizontal">
          <fieldset>
            <legend>Section A- Personal Information - You must answer all questions.</legend>
           <br>
            <!--- Name Block --->
            <div class="form-group">
              <p>1. What is your full legal name?</p>
              <br>
                <label for="FamilyName">Last Name: </label>
                <input type="text"
                  id="inputFamilyName">                  
            </div> 
            <br>
            <div class="form-group">
                <label for="GivenName">Given Name(s): </label>
                <input type="text"
                  id="inputGivenName">                  
            </div>   
            <br>

            <!--- Select Other Name Y/N Block --->
            <div class="form-group">
                <p>2. Have you ever used another name other than your legal name above (include nicknames)?</p>
                  <select id="selectOtherName">
                    <option>Yes</option>
                    <option>No</option>                    
                  </select>
              </div>
              
            <div class="form-group">
              <label for ="textareaOtherName">If YES, please write the other names below or your application will be returned to you.</label>
              <br>
                <textarea rows="4" cols="50"></textarea>
            </div>
            <br>

            <!--- Select gender Block --->
            <div class="form-group">
                <label for="selectM/F"><p>3. What is your gender?</p></label>
                  <select id="select">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
              </div>
              <br>

              <div class="form-group">
                  <label for="DOB"><p>4. What is your date of birth? :</p> </label>
                  <input type="text"
                    id="inputFamilyName"
                    placeholder="YYYY-MM-DD">                  
              </div> 
              <br>
              <div class="form-group">
                  <label for="selectBornCanada"><p>5. Were you born in Canada?</p></label>
                    <select id="select">
                      <option>Yes</option>
                      <option>No</option> 
                                   
                    </select>
                </div>
                  <br>
                <div class="form-group">
                    <label for="selectDriver"><p>6. Do you have a Driver’s Licence?</p></label>
                      <select id="select">
                        <option>Yes</option>
                        <option>No</option> 
                                     
                      </select>
                </div>

                <div class="form-group">
                    <label for="DriverL">if YES, what is yourDriver’s Licence number? </label>
                    <input type="text"> &nbsp;
                    <label for="Province">Province: </label>
                    <input type="text"
                    id="DriverL">
                                       
                </div> 
                <br>
                <div class="form-group">
                    <label for="selectEmployed"><p>7.Are you employed?</p></label>
                      <select id="select">
                        <option>Yes</option>
                        <option>No</option> 
                                     
                      </select>
                </div>

                <div class="form-group">
                  <p>If YES, who is your employer? If you are self employed please indicate the name and/or number of your company.</p>
                    <label for="Employed">Employer Name: </label>
                    <input type="text"> &nbsp;
                    <label for="Company">Company name and/or number: </label>
                    <input type="text"
                    id="DriverL">
                                       
                </div> 
                <br>

               
                
                   
                   <br>
            
              
             
          </fieldset>
          <br>
          <fieldset class="SetcionB">
             <legend>SECTION B: CORRESPONDENCE AND RESIDENCE INFORMATION – You must answer all questions.</legend>
             
<br>
             <p>8. What is your mailing address? (Please specify if this is the address of a representative) </p>
               All information about a decision will be sent to this address, except, in cases where the Board must contact you directly (e.g. a proposal to refuse)”
              <br>
              <br>


              <div class="form-group2">
                  <div class="address">
                  <label>Apartment/House Number and Street Address: </label>               
                  
                  <input type="text" formControlName="address" size = 50 />
                </div>
               
                
                  <div class="city">
                    <label>City/Town: </label>
                    <input type="text" formControlName="city" />
                  </div>
                  
                 <div class="state">
                    <label>Province: </label>
                    <input type ="text" formControlName="state" />                  
                  </div>
                  
                  <div class ="zip">
                    <label>Postal code: </label>
                    <input type="text" formControlName="zip" />
                  </div>
                    <div class="Country">
                        <label>Country: </label>
                        <input type="text" formControlName="Country" />
                    </div>
                  </div>
                
                  <p>Do you want information in English or French? (This will include all official letters and the RecordSuspension document). </p>
                
                  <div class="English-French">
                     
                        <select id="select">
                          <option>English</option>
                          <option>French</option> 
                                       
                        </select>
                  </div>
              
          </fieldset>

          <!--Buttons Block --->
          <div class="form-group">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    