<h1 i18n>About Us</h1>

<p i18n>
  <span>The Citizen Engagement Directorate</span> through effective engagement, improves communication between
  the Correctional Service of Canada (CSC) and Canadians by creating opportunities for citizens to become
  involved, and by encouraging communities to address correctional issues.
</p>

<p i18n>
  CSC enjoys a broad spectrum of public participation. Citizens are involved in our operations in many diverse
  ways. From attending CSC outreach events, to participating in consultations; from volunteering at our
  institutions, to actively advising the Service on Citizen Advisory Committees – CSC has many ways to routinely
  rely on public involvement.
</p>

<ul>
  <li i18n>
    Engagement refers to approaches that enable community members to meaningfully participate in the decisions,
    actions and processes that shape their community. Engagement can take place at the research, planning or
    carrying out stages of a project or program or as part of any process that is aimed at solving community
    issues or developing an approach to address community problems.
  </li>
  <li i18n>
    Engagement is being responsive to create opportunities for Canadians to share in the shaping of government
    priorities, delivery of programs and services and ensuring that policy plans are generated in a consultative
    manner.
  </li>
  <li i18n>
    Engagement involves proactive and ongoing communication over extended periods of time. It promotes
    partnership, collaboration and inclusive decision-making in how the department is run.
  </li>
</ul>

<p i18n>
  For CSC, engagement is the meaningful involvement of individuals, organizations and other government departments
  in policy or program development, from raising awareness to agenda-setting, planning and decision-making,
  implementation and review. It requires ongoing two-way communication that contributes to building and
  maintaining productive relationships with increasingly diverse partners and citizens.
</p>

<ul>
  <li i18n>To promote better understanding of the correctional process and more specifically, CSC's role in it.</li>
  <li i18n>To highlight the role of citizens in making communities safer.</li>
  <li i18n>To consult with people when CSC is developing policies, programs and/or services.</li>
  <li i18n>To communicate correctional challenges in an open and proactive manner.</li>
  <li i18n>
    To foster an environment where citizens can participate in decisions and actions that will shape communities.
  </li>
  <li i18n> To create opportunities to be involved in the delivery of key services.</li>
</ul>

<p i18n>
  For More Information on CSC's Citizen Engagement Directorate visit <a
  href="http://www.csc-scc.gc.ca/publications/005007-3007-eng.shtml">CSC's website</a>
</p>

<p i18n>
  Additional information about federal corrections in Canada and how to get involved is available on CSC's Web
  site at <a href="http://www.csc-scc.gc.ca">www.csc-scc.gc.ca</a>
</p>

<app-features></app-features>
