<h1 i18n>
  Welcome to PBC Online Record Suspensions Application  Portal
</h1>

<p i18n>
  Read the Parole Board of Canada Record Suspension Guide carefully before starting your application. It includes step-by-step instructions and all required forms for completing a record suspension application.
  Please note that incomplete or missing information will lead to your application being returned to you and/or delay its processing.

</p>
<p>Before starting your application, check that you are eligible to apply by using the <a href="https://www.canada.ca/en/parole-board/services/record-suspensions/record-suspension-self-assessment-tool.html"><abbr>PBC</abbr>'s Online Self-Assessment Tool</a>.</p>




