<div class="features-content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly none">

  <div>
    <h5 i18n>Volunteer schedules</h5>
    <img src="assets/features/schedule.png" i18n-alt alt="Schedule">
    <p i18n>Login to view your schedule</p>
  </div>

  <div>
    <h5 i18n>Resources</h5>
    <img src="assets/features/resources.png" i18n-alt alt="Schedule">
    <p i18n>Document repository of resource material including training material</p>
  </div>

  <div>
    <h5 i18n>Discussion Forums</h5>
    <img src="assets/features/discussion.png" i18n-alt alt="Schedule">
    <p i18n>Take part in the online community</p>
  </div>
</div>
